@inherits LayoutComponentBase

<div class="container-fluid d-flex flex-column flex-grow-1 vh-100 overflow-auto background-image" style="margin: 0; padding: 0;">
    <NavMenu />

    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
